@import url("https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

table, td, th {
  border-collapse: collapse;
}

fieldset {
  border: none;
}

input, a, button {
  outline: 1;
}

.hidden {
  position: absolute;
  top: -9999px;
  opacity: 0;
}

#container {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}
#container .grained {
  background-color: #7c7c7c;
}

#main {
  width: 100%;
  height: 100vh;
  position: relative;
  position: fixed;
  top: 0;
  left: 0;
}
#main .vinyl {
  width: 500px;
  height: 500px;
  position: fixed;
  right: -250px;
  top: 50%;
  margin-top: -250px;
  animation: vinyl 10s linear infinite;
}
#main .vinyl .vinyl_con {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: #222;
  position: relative;
}
#main .vinyl .vinyl_con .song_tit {
  position: absolute;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#main .vinyl .vinyl_con .song_tit .vinyl_inner_tit {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font: 12px/1 "arial";
}
#main .vinyl .vinyl_con::before {
  content: "";
  display: block;
  width: 200px;
  height: 200px;
  background: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#main .vinyl .vinyl_con::after {
  content: "";
  display: block;
  width: 10px;
  height: 10px;
  background: #222;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
#main .box {
  width: 350px;
  height: 200px;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
#main .box .left_tri {
  position: absolute;
  top: -150px;
  left: 0;
}
#main .box .right_tri {
  position: absolute;
  top: -150px;
  right: -1px;
}
#main .box_front {
  width: 350px;
  height: 200px;
  background: #c9a35c;
  position: absolute;
  top: 76%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}
#main .box_front p {
  font: bold 32px/1 "Amatic SC", cursive;
  color: #111;
  position: absolute;
  top: 20px;
  left: 20px;
}
#main .box_front span {
  font: 15px/1 "Amatic SC", cursive;
  color: #333;
  position: absolute;
  bottom: 20px;
  right: 20px;
}
#main .wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}
#main .wrapper .frame {
  position: absolute;
  width: 350px;
  height: 350px;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: 620px;
  background-position: center;
  transition: 0.5s;
  border-radius: 2px;
}
#main .wrapper .frame .lp_frame {
  width: 310px;
  height: 310px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -155px;
  margin-left: -155px;
  background: #111;
  border-radius: 50%;
  transition: 0.5s;
}
#main .wrapper .frame:hover .lp_frame {
  transform: translateY(-50%);
}
#main .wrapper .frame #player {
  position: fixed;
  top: -9999px;
  left: -9999px;
}
#main .mini_player {
  height: 60px;
  position: absolute;
  top: 20px;
  right: 40px;
  display: flex;
  z-index: 5;
  background: #eee;
}
#main .mini_player .track_info {
  height: 100%;
  display: flex;
}
#main .mini_player .track_info .thumb {
  width: 60px;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#main .mini_player .track_info .info {
  width: 200px;
  padding: 10px 20px;
}
#main .mini_player .track_info .info p {
  font: bold 12px/1 "arial";
  color: #111;
  margin-bottom: 5px;
}
#main .mini_player .track_info .info h3 {
  font: 11px/1 "arial";
  color: #999;
}
#main .mini_player .player_btn {
  width: 200px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  font-size: 0;
  padding: 0 20px;
}
#main .mini_player .player_btn span {
  display: inline-block;
  width: 35px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#main .mini_player .player_btn span.on {
  display: none;
}

@keyframes vinyl {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*# sourceMappingURL=style.css.map */
