@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

#container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    .grained{
        background-color :rgb(124, 124, 124);
    }
}

#main{
    width: 100%;
    height: 100vh;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;

    .vinyl{
        width: 500px;
        height: 500px;
        position: fixed;
        right: -100%;
        top: 50%;
        margin-top: -250px;
        transition: 1s;

        .vinyl_con{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #000;
            position: relative;

            .song_tit{
                position: absolute;
                top: 49%;
                left: 50%;
                transform: translate(-50%, -50%);

                .vinyl_inner_tit{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font: bold 14px/1 'arial';
                    color: #fff;
                }
            }

            .vinyl_thumb{
                width: 240px;
                height: 240px;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: 440px;
            }

            // &::before{
            //     content: '';
            //     display: block;
            //     width: 200px;
            //     height: 200px;
            //     background: #fff;
            //     position: absolute;
            //     top: 50%;
            //     left: 50%;
            //     transform: translate(-50%, -50%);
            //     border-radius: 50%;
            // }

            &::after{
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }
        }

        &.on{
            right: -250px;
            animation: vinyl 10s linear infinite;
        }

        &.stop{
            animation-play-state: paused;
        }
    }

    .box{
        width: 350px;
        height: 200px;
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;


        .left_tri{
            position: absolute;
            top: -150px;
            left: 0;
        }

        .right_tri{
            position: absolute;
            top: -150px;
            right: -1px;
        }
    }

    
    .box_front{
        width: 350px;
        height: 200px;
        background: rgb(201, 163, 92);
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;

        p{
            font: bold 32px/1 'Amatic SC', cursive;
            color: #111;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        span{
            font: 15px/1 'Amatic SC', cursive;
            color: #333;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    .wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;

        .frame{
            position: absolute;
            width: 350px;
            height: 350px;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-size: 620px;
            background-position: center;
            transition: 0.5s;
            border-radius: 2px;
    
            .lp_frame{
                width: 310px;
                height: 310px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -155px;
                margin-left: -155px;
                background: #111;
                border-radius: 50%;
                transition: 0.5s;
            }
    
            &:hover{
                .lp_frame{
                    transform: translateY(-50%);
                }
            }

            #player{
                position: fixed;
                top: -9999px;
                left: -9999px;
            }
        }
    }
    
    .mini_player{
        height: 40px;
        position: absolute;
        top: 20px;
        right: 20px;
        display: flex;
        z-index: 5;
        transition: 1s;

        .track_info{
            height: 100%;
            display: flex;
            border-right: 1px solid #aaa;

            .thumb{
                width: 40px;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .info{
                width: 160px;
                padding: 0 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;

                p{
                    font: bold 13px/1 'arial';
                    color: #111;
                    margin-bottom: 5px;
                }

                h3{
                    font: 12px/1 'arial';
                    color: #999;
                }
            }
        }

        .player_btn{
            width: 200px;
            height: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 0;
            padding: 0 10px;

            span{
                display: inline-block;
                width: 35px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &.on{
                    display: none;
                }
            }
        }

        .more_btn{
            width: 80px;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .more_inner_btn{
                display: block;
                width: 30%;
                height: 25%;
                position: relative;

                &::before{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: #111;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    transition: 0.5s;
                }

                &::after{
                    content: '';
                    width: 100%;
                    height: 2px;
                    background: #111;
                    display: block;
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    transition: 0.5s;
                }

                &:hover{

                    &::before{
                        transform: translateX(-5px);
                    }

                    &::after{
                        transform: translateX(5px);
                    }
                }
            }     
        }

        &.on{
            right: -100%;
        }
    }
}

.loading_page{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1.5s;

    h2{
        font: bold 120px/1 'arial';
        color: #fff;
    }

    p{
        font: bold 40px/1 'arial';
        color: #fff;
    }

    &.on{
        top: -100%;
    }
}



.bg_filter{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    z-index: 11;
}

.more_player{
    width: 450px;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 15;
    transition: 1s;
    box-shadow: 0px 25px 60px 0px rgb(97 45 45 / 40%);
    background: #eee;

    .more_player_wrap{
        width: 100%;
        height: 30%;
        background: #fef4ea;
        padding: 20px;

        .more_info{
            width: 100%;
            display: flex;
            justify-content: center;
            margin-bottom: 60px;

            .more_thumb{
                width: 120px;
                height: 120px;
                background-size: 212px;
                background-repeat: no-repeat;
                background-position: center;
            }

            .more_inner_info{
                width: calc(100% - 120px);
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                padding-left: 20px;

                .song_tit{
                    font: bold 24px/1 'arial';
                    color: #111;
                    margin-bottom: 10px;
                }
                .singer{
                    font: bold 16px/1 'arial';
                    color: #999;
                }
            }
        }

        .more_player_btn{
            width: 120px;
            display: flex;
            justify-content: space-between;
            font-size: 0;

            span{
                display: inline-block;
                width: 35px;
                font-size: 20px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &.on{
                    display: none;
                }
            }
        }
    }

    .more_player_list{
        width: 100%;
        height: 70%;
    }

    &.on{
        right: 0;
    }
}

@keyframes vinyl{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}