@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

#container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    .grained{
        background-color :rgb(124, 124, 124);
    }
}

#main{
    width: 100%;
    height: 100vh;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;

    .vinyl{
        width: 500px;
        height: 500px;
        position: fixed;
        right: -250px;
        // right: 0;
        top: 50%;
        margin-top: -250px;
        animation: vinyl 10s linear infinite;

        .vinyl_con{
            width: 100%;
            height: 100%;
            border-radius: 50%;
            background: #222;
            position: relative;

            .song_tit{
                position: absolute;
                top: 49%;
                left: 50%;
                transform: translate(-50%, -50%);

                .vinyl_inner_tit{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    font: 12px/1 'arial';
                }
            }

            &::before{
                content: '';
                display: block;
                width: 200px;
                height: 200px;
                background: #fff;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }

            &::after{
                content: '';
                display: block;
                width: 10px;
                height: 10px;
                background: #222;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                border-radius: 50%;
            }
        }
    }

    .box{
        width: 350px;
        height: 200px;
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;


        .left_tri{
            position: absolute;
            top: -150px;
            left: 0;
        }

        .right_tri{
            position: absolute;
            top: -150px;
            right: -1px;
        }
    }

    
    .box_front{
        width: 350px;
        height: 200px;
        background: rgb(201, 163, 92);
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;

        p{
            font: bold 32px/1 'Amatic SC', cursive;
            color: #111;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        span{
            font: 15px/1 'Amatic SC', cursive;
            color: #333;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    .wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;

        .frame{
            position: absolute;
            width: 350px;
            height: 350px;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-size: 620px;
            background-position: center;
            transition: 0.5s;
            border-radius: 2px;
    
            .lp_frame{
                width: 310px;
                height: 310px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -155px;
                margin-left: -155px;
                background: #111;
                border-radius: 50%;
                transition: 0.5s;
            }
    
            &:hover{
                .lp_frame{
                    transform: translateY(-50%);
                }
            }

            #player{
                position: fixed;
                top: -9999px;
                left: -9999px;
            }
        }
    }
    
    .mini_player{
        height: 60px;
        position: absolute;
        top: 20px;
        right: 40px;
        display: flex;
        z-index: 5;
        background: #eee;

        .track_info{
            height: 100%;
            display: flex;

            .thumb{
                width: 60px;
                height: 100%;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .info{
                width: 200px;
                padding: 10px 20px;

                p{
                    font: bold 12px/1 'arial';
                    color: #111;
                    margin-bottom: 5px;
                }

                h3{
                    font: 11px/1 'arial';
                    color: #999;
                }
            }
        }

        .player_btn{
            width: 200px;
            height: 100%;
            // border: 1px solid blue;
            display: flex;
            justify-content: space-between;
            font-size: 0;
            padding: 0 20px;

            span{
                display: inline-block;
                width: 35px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;
                cursor: pointer;

                &.on{
                    display: none;
                }
            }
        }
    }
}

@keyframes vinyl{
    0%{transform: rotate(0deg)}
    100%{transform: rotate(360deg)}
}