@charset "utf-8";
@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');

#container{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    .grained{
        background-color :rgb(124, 124, 124);
    }
}

#main{
    width: 100%;
    height: 100vh;
    position: relative;
    position: fixed;
    top: 0;
    left: 0;

    .box{
        width: 350px;
        height: 200px;
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;


        .left_tri{
            position: absolute;
            top: -150px;
            left: 0;
        }

        .right_tri{
            position: absolute;
            top: -150px;
            right: -1px;
        }
    }

    
    .box_front{
        width: 350px;
        height: 200px;
        background: rgb(201, 163, 92);
        position: absolute;
        top: 76%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 10;

        p{
            font: bold 32px/1 'Amatic SC', cursive;
            color: #111;
            position: absolute;
            top: 20px;
            left: 20px;
        }

        span{
            font: 15px/1 'Amatic SC', cursive;
            color: #333;
            position: absolute;
            bottom: 20px;
            right: 20px;
        }
    }

    .wrapper{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 5;

        .frame{
            position: absolute;
            width: 350px;
            height: 350px;
            border: 1px solid red;
            top: 80%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            transition: 0.5s;
    
            .lp_frame{
                width: 310px;
                height: 310px;
                position: absolute;
                top: 50%;
                left: 50%;
                margin-top: -155px;
                margin-left: -155px;
                background: #111;
                border-radius: 50%;
                transition: 0.5s;
            }
    
            &:hover{
                .lp_frame{
                    transform: translateY(-50%);
                }
            }

            #player{
                position: fixed;
                top: -9999px;
                left: -9999px;
            }
        }
    }
    
    .mini_player{
        height: 35px;
        position: absolute;
        top: 20px;
        right: 40px;
        display: flex;
        z-index: 5;

        .track_info{
            width: 150px;
            height: 100%;
            border: 1px solid red;
            display: flex;

            .thumb{
                width: 35px;
                height: 100%;
                border: 1px solid green;
            }

            .info{
                width: 115px;
                padding: 3px 10px;

                p{
                    font: bold 14px/1 'arial';
                    color: #111;
                }

                h3{
                    font: 12px/1 'arial';
                    color: #999;
                }
            }
        }

        .player_btn{
            width: 200px;
            height: 100%;
            border: 1px solid blue;
            display: flex;
            justify-content: space-between;
            font-size: 0;
            padding: 0 20px;

            span{
                display: inline-block;
                width: 35px;
                font-size: 14px;
                display: flex;
                justify-content: center;
                align-items: center;

                &.on{
                    display: none;
                }
            }
        }

 
    }

}